@font-face {
    font-family:outfit ;
    src: url(Outfit-VariableFont_wght.ttf);
}
*{
    font-family:outfit;
    padding: 0;
    margin: 0;
}
.box{
    height: 22em;
    padding: .7em;
    width: 14.5em;
    background-color:  hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    border-radius: .85em;
    align-items: center;
    
}
.big{
    height: 100vh;
    background-color:  hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    height: 13em;
    width: 12em;
    padding: 1em;
    border-radius: .75em;
    background: url(image-qr-code.png);
    background-size: cover;
}
.para{
    font-size: 1.05em;
    font-weight: 700;
    padding: .5em;
    text-align: center;
    margin-top: 1.1em;
}
p{
    padding: .7em;
    text-align: center;
    font-size: .75em;
    font-weight: 400;
    color: hsl(220, 15%, 55%);

}